* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #12CBC4;
    width: 80%;
    padding-left: 0;
    padding-bottom: 50px;
    margin: auto;
}

nav {
    width: 100%;
}

li {
    float: left;
}

nav ul {
    text-align: center;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

nav ul li {
    list-style-type: none;
    width: 25%;
    background: grey;
    color: white;
}

nav ul li a {
    font-size: 1.7rem;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

nav ul li a:hover,
nav ul li a:focus {
    color: #0652DD;
}

a {
    text-decoration: none;
}

.image {
    widows: 300px;
}