* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.size {
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30%;
}

.meeuw {
    position: initial;
    top: 10%;
    left: 0%;
}
.meeuw,
.kenburns-top-left {
	-webkit-animation: kenburns-top-left 20s ease-out both;
	        animation: kenburns-top-left 20s ease-out both;
}

@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}