#div1 {
    background-color: #fe0000;
}

#div2 {
    background-color: #ff9c00;
}

#div3 {
    background-color: #f5ff00;
}

#div4 {
    background-color: #3cf10e;
}

#div5 {
    background-color: #01ffe5;
}

#div6 {
    background-color: #0024ff;
}

#div7 {
    background-color: #c500ff;
}

#div8 {
    background-color: #ff009c;
}