#div1 {
    background-color: rgba(255, 0, 0, 10);
}

#div2 {
    background-color: rgba(255, 0, 0, 0.9);
}

#div3 {
    background-color: rgba(255, 0, 0, 0.8);
}

#div4 {
    background-color: rgba(255, 0, 0, 0.7);
}

#div5 {
    background-color: rgba(255, 0, 0, 0.6);
}