.container{
    width:80% ;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan ;
    height: 100%;
}
#titel{
    color: darkred;
    text-align: center;
}
#tekst{
    text-align: center;
}
#foto{
    width: 50%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.foot{
    text-align: center;
}
